/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  /* border: 1px red solid; */
  box-sizing: border-box;
}/* DISPLAY----------------------------------------------------------- */


body {
  height: 99vh;
  width: 99vw;
  margin: 0;
}


/* DASHBOARD--------------------------------------------------------- */

header {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 0;
}

.bar {
  margin: 0 auto;
  width: 700px;
  height: 100px;
}

.dashboard {
  padding-top: 10px;
  padding-left: 18px;
}

.icon {
  display: inline-block;
  width: 15%;
  height: 90px;
  margin: 0 0.25%;
  position: relative;
  cursor: pointer;
}

.icon span, .icon i, .icon input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon span {
  top: -35px;
}

.icon input {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* DISPLAY----------------------------------------------------------- */

.display {
  border: 4px green solid;
  border-radius: 50%;
  width: 200px;
  margin: 20px auto;
  height: 200px;
  text-align: center;
}

.display p {
  font-size: 72px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* PROGRESS BAR-------------------------------------------------------- */

.progress {
  border: 4px solid green;
  border-radius: 10px;
  width: 700px;
}

#time-left {
  background-color: green;
  height: 100%;
  width: 100%;
  margin: 0;
  transition: width 1s linear;
}
